<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
          <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <div class="posts-show-item-title">
        <h3>タイトル</h3>
        <p>
        <%= @post.title %>
        </p>
      </div>
      <div class="posts-show-item-contents">
        <h3>ファクト</h3>
        <p>
        <%= @post.fact %>
        </p>
      </div>
      <div class="posts-show-item-contents">
        <h3>抽象化</h3>
        <p>
        <%= @post.abstraction %>
        </p>
      </div>
      <div class="posts-show-item-contents">
        <h3>転用</h3>
        <p>
        <%= @post.diversion %>
        </p>
      </div>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if Like.find_by(user_id: @current_user, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>